Проект для TestGuru
<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
  </head>

  <body>
      <h1>Приложение для создания, управления тестами, а также прохождения тестирования TestGuru</h1>
  </body>
</html>
